# Environment variables
app/.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
